body{
color:white;
background:mediumaquamarine;
font-size: 25px;
font-family:Arial;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background: mediumaquamarine;
}

input{
    background-color: #000;
}

textarea{
    background-color: #000;
}